

.mycard {
    font-size: 2em;
    box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),
                0 .9375rem 1.40625rem rgba(90,97,105,.1),
                0 .25rem .53125rem rgba(90,97,105,.1),
                0 .125rem .1875rem rgba(90,97,105,.1);
    margin: 0.2em;
    width : 2em;
    height: 2.5em;
    float: left;
    display: flex;
    cursor: default;
    border-radius: 12px;
  }
  
.mycard.hidden {
    background: #8fa8cc;
  }
  
.mycard.visible {
    cursor: not-allowed;
  }
  
.mycard > .symbol {
    margin: auto;
  }
