
.body {
    height: 100vh;
    background: #F7F7F7;
}

.header {
    padding-top: 10vh;
    align-self: center;
    width: 24em;
    margin: auto;
}

.title {
    text-align: center;
    margin-bottom: 3vh;
    font-family: 'Laila', serif;
}

.counter {
    text-align: right;
    margin-right: 5%;
    margin-bottom: 3vh;
    font-family: 'Laila', serif;
}

.game {
    width: 75%;
    height: 60vh;
    align-self: center;
    display: block;
    overflow: auto;
    margin: auto;
    text-align: center;
}

.leaderboard-button {
    margin-top: 15px;
}

@media screen and (max-width: 640px) {
    .game {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .game {
        width: 90%;
    }
    .header {
        width: 18em;
    }
}